

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual env
# =====================
.venv/
venv/
env/
.env

# =====================
# Huggingface cache
# =====================
.cache/
huggingface/

# =====================
# Models
# =====================
*.pt
*.pth
*.bin
*.safetensors

# =====================
# Runtime
# =====================
runs/
logs/
outputs/

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
